body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.8;
}


h1 {
    text-align: center;
}

h1,
h3 {
    color: #333;
}

p {
    font-size: 0.85rem;
}

.container {
    padding: 10px;
}

/* Estilo del cuadro emergente */
.tooltip {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
    max-width: 200px;
}

.tooltip h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.tooltip p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #555;
}

.word {
    cursor: pointer;
    /* border: 1px solid red;
    padding: 3px; */
}

.word:hover {
    background-color: #f0f0f0;
}

@media only screen and (min-width:900px) {
    .container {
        width: 800px;
        margin: 0 auto;
    }

    p {
        font-size: 1rem;
    }
}