body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.8;
}


h1{
    text-align: center;
}

h1,
h3 {
    color: #333;
}

p {
    font-size: 0.85rem;
}

.container{
    padding: 10px;
}

@media only screen and (min-width:900px){
    .container{
        width: 800px;
        margin: 0 auto;
    }

    p {
        font-size: 1rem;
    }
}